*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

.egyeb-oldal{
    background-color: rgba(141, 174, 235, 0.4);

}

.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(200, 204, 247, 0.6),rgba(200, 204, 247, 0.6)),url("background.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.navbar{
    background-image: linear-gradient(rgba(200, 204, 247, 0.6),rgba(200, 204, 247, 0.6)),url("background.jpg");;
}

nav{
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
}

.pages{
    flex:1;
    text-align: right;
}

.pages ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 6px;
    position: relative;
}

.pages ul li a{
    color: #121111;
    text-decoration: none;
    font-size: 16px;
}

.pages ul li.active::after {
    width: 100%;
}
.gomb{
    flex:1;
    text-align: right;
}

.gomb ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    cursor:pointer;
    padding: 8px 12px;
    color: #121111;
    text-decoration: underline;
    background-color: transparent;
    outline: none; 
    margin-left: 4px;
}


.gomb ul li a{
    color: #121111;
    text-decoration: none;
    font-size: 16px;
}

@media(max-width: 700px){

    .gomb ul {
        text-align: center;
    }
    
    .gomb ul li {
        display: block;
        width: 100%;
        margin: 0;
        text-align: right;
        position: relative;
        right: 0; 
    
    }

    .gomb ul li a{
        font-size: 16px;
    }
}

img {
    width: 120px; 
    height: auto;

}
#userimage{

    width: 120px;
    height: 40px;
}

#logo{
    margin-left: -40px;
}

@media(max-width: 700px){
    #logo{
    margin-left: 10px;
    }
}


.pages ul li::after{
    content:'';
    width: 0%;
    height:2px;
    background: #4683b7;
    display:block;
    margin:auto;
    transition: 0.5s;

}

.pages ul li:hover::after{
    width: 100%;
}


.pages ul li:last-child {
    cursor:pointer;
    padding: 8px 12px;
    color: #121111;
    text-decoration:underline;
    background-color: transparent;
    outline: none; 
    margin-left: 4px;
}

.pages ul li:last-child::after {
    content: none;
}

.textbox{
    width: 90%;
    color: #121111;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


iframe{
    width: 60%;
    height:400px;
    margin-top:12px;
}

.textbox p{
    margin:10 px 0 40 px;
    font-size: 16px;
    color: #121111;
}

.herobtn{
    display:inline-block;
    text-decoration: none;
    color:#121111;
    border: 1px solid #121111;
    border-radius: 15px;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor:pointer;
}

.herobtn:hover{
    border: 1px solid #8299cb;
    background-color: #8299cb;
    transition: 1s;
}


nav .fa{
    display:none;
}


@media(max-width: 700px){
    .textbox h1{
        font-size: 20px;
    }

    .pages ul li{
        display:block;
        
    }
    .pages ul li a{
        font-size: 12px;
        display: block;
        width: 40%;
        margin-left: 30%;
        text-align: center;
    }
    .pages{
        position:absolute;
        background: #4683b7;
        height: 100vh;
        width:100%;
        top: 0;
        right:0;
        text-align: left;
        z-index: 2;
        visibility: hidden;
        
    }
   
    .pages.active{
        visibility: visible;
    }

    .pages ul li.active::after {
        visibility: hidden;
    }

    nav .fa{
        display: block;
        color:#121111;
        margin: 10px;
        cursor:pointer;
    }

    .pages ul{
        padding: 30px;
    }


}

.about{
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 60px;
    
}


h1{
    font-size: 36px;
    font-weight: 600;
    
}

kh1{
    
    font-size: 30px;
    font-weight: 600;
    
}

p{
    color:#121111;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display:flex;
    justify-content: space-between;
}

.about-col{
    flex-basis: 31%;
    background: rgba(141, 174, 235, 0.4);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.info-about-col{
    flex-basis: calc(48% - 2%);
    background: rgba(141, 174, 235, 0.4);
    border-radius: 10px;
    margin-bottom: 5%;
    box-sizing:content-box;
    transition: 0.5s;
}


h3{
text-align: center;
font-weight: 600;
margin: 10px 0;
}

.about-col:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);

}
.info-about-col:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

@media(max-width: 700px)
{
    .row{
        flex-direction: column;
    }

}

.alapelvek{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-color: rgba(141, 174, 235, 0.4);
    box-sizing: border-box; 

}
.react{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-color: #fff;
    box-sizing: border-box; 
}
.App {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100%;
   
}


.recharts-legend-wrapper {

    display: none;
}


@media (max-width: 600px) {
    .App {
        margin-top: 10px; 
    }
    .react {
        padding-top: 0; 
        position: relative; 
    }

}

.alapelvek-col{
    flex-basis: 28%;
    border-radius: 10px;
    margin-bottom: 30px;
    position:relative;
    overflow: hidden;
    background-color: white;
    margin-left:auto;
    margin-right: auto;
}

.alapelvek-col img {
    width:100%;
    height:auto;
    display: block;
}
@media(max-width: 700px) {
    .alapelvek {
        background-color:  rgba(141, 174, 235, 0.4);
    }

    .alapelvek-col {
        max-width: 300px; 
        width: 100%;
    }
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    transition: 0.5s;
    z-index: 1;
}

.layer:hover{
    transform: translateY(-5px);
    font-size: 20px;
}

.layer h3 {
    text-align: center;
    font-weight: 600;
    margin-top: 15px;
    position: relative;
    z-index: 2;
}

.vélemények {
    text-align: center;
}

.vélemények h1{
    margin-top: 50px;
}


.velemeny-col{
    flex-basis: 44%;
    border-radius: 10px;
    text-align: left;
    background:rgba(141, 174, 235, 0.4);
    padding: 25px;
    display:flex;
    margin: -30px 35px 50px;
    box-sizing: border-box;
    transition: 0.5s;
    
}


.velemeny-col img{
    height: 40px;
    margin-left:5px;
    margin-right: 30px;
    border-radius: 50%;
}

.velemeny-col p{
    padding:0;

}

.velemeny-col h3{
    margin-top:15px;
    text-align:left;

}

.velemeny-col .fa{
    color:#4683b7;
    text-shadow: 1px 0.5px 0.5px  #121111 ;

}
.velemeny-col:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);

}

.cim{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
}

.allatainkcim{
    
    text-align: center;
}


.allatainkcim h1,
.allatainkcim p {
    margin: 0 auto;
   
}



@media(max-width: 700px){
    .velemeny-col {
        flex-basis: 100%; 
        margin: 0 20px 50px; 
        box-sizing: border-box;
    }
}

footer {
    background: rgba(141, 174, 235, 0.4);
    text-align: right;
    padding: 10px;
    color: #121111;
}

.main-footer{
    background: rgba(255, 255, 255);
    text-align: right;
    padding: 6px;
    color: #121111;
    border-top: 2px solid #4683b7;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

@media(max-width: 700px) {
    footer {
        text-align: center;
    }

    .footer-content {
        flex-direction: column;
    }
}

.container{
    width:100%;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container h2{
    font-weight: normal;
    font-size: 18px;
    margin-inline: 10px;
    text-align: center; 
}

@media (max-width: 700px) {
    .container h2 {
        max-width: 80%;
    }
    
}

.gallery{
    width:80%;
    margin: 100px auto 50px;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
}

.gallery img{
    width:100%;
    cursor:pointer;
}

.gallery img:hover{
    border-radius:20px;
    box-shadow: 0 32px 75px rgba(0,0,0,0.6);
}

.wholeimg{
    width:100%;
    height:100vh;
    background: rgba(0,0,0,0.8);
    position:fixed;
    top:0;
    left:0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index:100;
}

.wholeimg img{
    width:90%;
    max-width:500px;

}

.wholeimg span{
    position: absolute;
    top:5%;
    right:5%;
    font-size: 30px;
    color:#fff;
    cursor:pointer;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.allatokwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    height:800px;
}


.felhasznalok-wrapper{
    width:60%; 
    margin-left:20%;
    margin-top:30px;
    margin-bottom: 30px;
}

.allatok-wrapper{
    margin-top:40px;
    margin-bottom:40px;
    width:60%; 
    margin-left:20%;
}

@media (max-width: 700px) {
    .felhasznalok-wrapper{
        margin-bottom: 50px;
    }

    .allatok-wrapper{
        width:80%;
        margin-left:10%;
        
    }

    .wrapper{
        width:80%;
        margin-left:10%;
    }

}


.velemenyek-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: #fff;
}

.velemenyek-wrapper h1{
    width: 100%;
    margin-left: 40px;
    text-align: left;
    box-sizing: border-box; 
}

@media (max-width: 700px) {
    .velemenyek-wrapper {
        flex-direction: column; 
        height: auto; 
    }

    .velemenyek-wrapper h1 {
        text-align: center; 
        margin-left: 0; 
        margin-bottom: 40px; 
        margin-top: 40px;
    }

    .velemeny-form {
        margin-right: 10%; 
        margin-bottom:40px;
        width: 80%;
        margin-left:10%;
        
    }
   

}

.admin-form {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    flex-direction: column; 
    align-items: center;
    
}
#imageUploadForm{
    width: 80%;
    margin-left: 10%;
}


.velemeny-form{
    text-align: center;
    background-color: rgba(141, 174, 235, 0.4); 
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    margin-right: 40px;
}


.admin-form h2{
    margin-bottom: 15px;
}


.admin-form input,
.admin-form select {
    width: 100%;  
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}

.admin-form textarea {
    width: 100%;  
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}


.velemeny-form input,
.velemeny-form textarea {
    width: 100%;  
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    margin-right: 20px;
}


.szoveg{
    width: 40%;  
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #fff;
    margin-left: 30%;
}

.nev{
    margin-top: 1px;
    text-align: center;
    width:20%;
    margin-left: 40%;
    margin-bottom: 20px;
    background-color: rgba(141, 174, 235, 0.4);
    border-radius: 5px;
}

.btn {
    display: inline-block;
    background-color: #4683b7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none; 
}

.btn:hover {
    background-color: #305f86;
}

.dropbtn {
    background: none;
    padding: 16px;
    font-size: 16px;
    border: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    max-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #ddd;}

@media (max-width: 700px) {
    .dropbtn {
        display:none;
    }

    .dropdown-content{
        position: relative;
        background-color: #4683b7;;
        max-width: 100%;
        box-shadow: 0;
        z-index: 1;
        display:block;
        text-align: center;
        
    }

    .dropdown-content a{
        font-size: 12px;
    }

    .dropdown{
        width:40%;
        margin-left: 30%;;
    }
}

.orokbefogadhato-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    
}

.orokbefogadhato-wrapper > div {
    background-color: rgba(141, 174, 235, 0.4); 
    border-radius: 10px; 
    padding: 10px; 
    width: 300px; 
    margin-bottom: 10px; 
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 300px;
    
}

.orokbefogadhato-wrapper > div:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.orokbefogadhato-wrapper > div p {
    margin-top: 10px; 
}

